.titulo {
  margin-bottom: 20px;
}
.sticky-top{
  width: 100% !important;
}
html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #777;
  margin-bottom:  10px !important;
}

#img-avatar {
  border: 2px solid #dfac13;
  border-radius: 60px;
}
.img-me {
  max-width: 80%;
}
form input, form textarea{
  margin: 10px 0px;
}
.button-form input{
  margin: 0px 5px;
  padding: 10px 25px; 
}
/* Icons */
.knowledge i{
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #dfac13;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

/*Background SVG*/
.bgsvgUp {
  height: 300px;
  background-image: url(/img/svg/polygon-scatter-haikei.svg);
  background-repeat: repeat-x;
  background-size: cover;
  background-color: #212529;
}
/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: #ccc;
  opacity: 0.75;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
  color: #dfac13;
  border-color: #dfac13;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

section{
  margin: 60px 0px !important;
} 

/* profile photo */
.profile-photo{
  width: 50%;
}
.descrip-me{
  margin-top: 30px;
}
.img-transfer{
  width: 80%;
}