nav {
  width: 100%;
  background-color: #dfac13;
  border-radius: 5px;
  font-family: "Anton", sans-serif;
  text-align: center;
  padding: 15px 0px;
  position: absolute;
  top: 20px;
  left: 0;
}

.nav-menu {
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  margin: 0 3vw;
  font-size: 2vh;
  display: inline;
  text-shadow: 0.1em 0.1em 0.2em #212529;
}

.nav-link {
  text-decoration: none;
  color: #efefef;
  padding: 0.5rem;
  transition: all 0.5s;
}

.nav-link:hover {
  background-color: #efefef;
  color: #212529;
  border-radius: 10px;
  text-shadow: none;
  box-shadow: 5px 5px 5px #212529;
}

.nav-item-hamburger {
  color: #efefef;
  display: none;
}

.nav-hamburger:hover {
  cursor: pointer;
}

.nav-hamburger i {
  font-size: 1.3em;
}

@media only screen and (max-width: 600px) {
  nav {
    text-align: right;
    padding: 10px 0;
  }

  .nav-item-hamburger {
    display: inline;
    margin-right: 30px;
  }

  .nav-menu {
    display: none;
  }

  .responsive {
    display: block;
    text-align: left;
  }

  .nav-item {
    display: block;
    padding: 5px 0;
  }
}
/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #161a1d !important;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 0;
}

/* Icons */
.knowledge i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #dfac13;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #efefef;
}

.social {
  text-align: left;
  padding-bottom: 25px;
}

.social-footer {
  text-align: center;
  padding-bottom: 25px;
}

.social-footer a, .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #efefef;
  margin: 0 8px;
  color: #efefef;
}

.social > a:hover, .social-footer > a:hover {
  background-color: #dfac13;
  border-color: #dfac13;
}

@media only screen and (max-width: 600px) {
  .social {
    text-align: center;
  }
}
h1 {
  font-family: "Anton", sans-serif;
  color: #efefef;
  margin-bottom: 10px !important;
}

h3 {
  color: #efefef;
  font-family: "Open Sans", sans-serif;
}

p {
  color: #efefef;
}

.titulo {
  margin-bottom: 20px;
}

.navbar-brand {
  color: #efefef !important;
}

.btn-portafolio {
  border-radius: 10px;
  border: 2px solid #dfac13 !important;
  margin-right: 10px;
}
.btn-portafolio:hover {
  background-color: #dfac13;
}

.btn {
  color: #efefef;
  padding: 5px 20px;
  font-weight: bold;
}
.btn:hover {
  color: #212529;
}

.form-contact input, .form-contact textarea {
  margin: 10px 0px;
}

.image-profile {
  max-width: 400px !important;
  border-radius: 50%;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {
  .image-profile {
    display: none;
  }
}
.img-trabajos {
  border-radius: 10px;
}

.image-me {
  max-width: 200px;
  border-radius: 10px;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-color: #212529;
  scroll-behavior: smooth;
}

strong {
  color: #dfac13;
}

hr {
  color: #dfac13;
  margin: 100px 0;
}

.caja-sobre-mi {
  margin-top: 100px;
}

/*# sourceMappingURL=styles.css.map */
