@import "components/global-var.scss";
@import "components/navbar.scss";
@import "components/footer"; 
@import "components/icons";
@import "components/tittles";
@import "components/buttons";
@import "components/form";
@import "components/images";
@import "components/hero";

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: $dark-color;
    scroll-behavior: smooth;
}
strong {
    color: $yellow-color;
}
hr {
    color: $yellow-color;
    margin: 100px 0;
}
.caja-sobre-mi{
    margin-top:  100px;
}