@import "components/global-var";
@import "components/navbar";
@import "components/footer"; 
@import "components/icons";
@import "components/tittles";
@import "components/buttons";
@import "components/form";
@import "components/images";
@import "components/hero";
@import "components/sobremi";
@import "components/conocimientos";
@import "components/scroll";
@import "components/trabajos";

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $dark-color;
    scroll-behavior: smooth;
}
strong {
    color: $yellow-color;
}
.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url('/img/XOsX.gif') 50% 50% no-repeat $yellow-color;
    
   

    .txt-loading{
        position: fixed;
        left: 40%;
        right: 40%;
        top: -40px;
        color: $dark-color;
    }
}