@import "components/global-var";
@import "components/navbar";
@import "components/footer"; 
@import "components/icons";
@import "components/tittles";
@import "components/buttons";
@import "components/form";
@import "components/images";
@import "components/hero";
@import "components/sobremi";
@import "components/conocimientos";
@import "components/trabajos";

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $dark-color;
    scroll-behavior: smooth;
}
strong {
    color: $yellow-color;
}
