@import "components/global-var";
@import "components/navbar";
@import "components/footer"; 
@import "components/icons";
@import "components/tittles";
@import "components/buttons";
@import "components/form";
@import "components/images";
@import "components/hero";
@import "components/sobremi";
@import "components/conocimientos";
@import "components/scroll";
@import "components/trabajos";
@import "components/gracias";
@import "components/servicio";


*{
    height: auto;
}

html, body {
    // max-width: 90%;
    overflow-x: hidden;
    background-color: $dark-color;
    scroll-behavior: smooth;
}
strong {
    color: $yellow-color;
}
.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url('/img/XOsX.gif') 50% 50% no-repeat $yellow-color;

    .txt-loading{
        position: fixed;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        color: $dark-color;
    }
}

#hr_separation {
    border-color: $yellow-color;
    margin: 10% 0;
}
#hr_separation-sp {
    border-color: $yellow-color;
}
@media only screen and (max-width: 600px) {
    .loading{
        .txt-loading{
            top: -100px;
        }
    }
}