@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.2rem;
    height: 4.2rem;
  }
}
@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 4.2rem;
    height: 4.2rem;
  }
}

nav {
  background-color: #dfac13;
  border-radius: 0px;
  font-family: "Anton", sans-serif;
  left: 0;
  padding: 15px 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 3;
}

.nav-menu {
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  margin: 0 3vw;
  font-size: 1.2rem;
  display: inline;
  text-shadow: 0.1em 0.1em 0.2em #212529;
}

.nav-link {
  text-decoration: none;
  color: #efefef;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover {
  background-color: #efefef;
  color: #212529;
  border-radius: 10px;
  text-shadow: none;
  -webkit-box-shadow: 5px 5px 5px #212529;
          box-shadow: 5px 5px 5px #212529;
}

.nav-item-hamburger {
  color: #efefef;
  display: none;
}

.nav-hamburger:hover {
  cursor: pointer;
}

.nav-hamburger i {
  font-size: 1.3em;
}

@media only screen and (max-width: 600px) {
  nav {
    text-align: right;
    padding: 10px 0;
  }
  .nav-item-hamburger {
    display: inline;
    margin-right: 30px;
  }
  .nav-menu {
    display: none;
  }
  .responsive {
    display: block;
    text-align: left;
  }
  .nav-item {
    display: block;
    padding: 5px 0;
  }
}

/*FOOTER*/
.footer-basic {
  width: 100%;
  padding: 40px 0;
  background-color: #161a1d;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #efefef;
  margin-bottom: 0;
}

.footer-basic .logo-footer {
  text-align: center;
  margin-bottom: 20px;
}

/* Icons */
.social-hero {
  padding-bottom: 25px;
  text-align: left;
}

.social-footer {
  text-align: center;
  padding-bottom: 25px;
}

.social-footer a, .social-hero a {
  border-radius: 50%;
  border: 1px solid #efefef;
  color: #efefef;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0 8px;
  width: 40px;
}

.social-hero > a:hover, .social-footer > a:hover {
  background-color: #dfac13;
  border-color: #dfac13;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fa-cog {
  color: #dfac13;
  font-size: 10rem;
}

#spin1, #spin2 {
  -webkit-animation-name: spin;
          animation-name: spin;
  margin: 30px 0;
}

#spin1 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#spin2 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-direction: reverse;
  position: relative;
  right: 20px;
  top: -8px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .fa-cog {
    font-size: 8rem;
  }
  .social-hero {
    padding-bottom: 5px;
  }
}

.typewriter {
  color: #efefef;
  font-family: 'Anton', sans-serif;
  font-size: xx-large;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
}

h2 {
  color: #efefef;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  color: #000;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

h4 {
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

h5 {
  color: #efefef;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0;
}

p {
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}

.subtitulo {
  text-align: center;
  padding: 0 30px;
}

.titulo {
  margin-bottom: 20px;
}

.main-tittle {
  font-size: 1.5rem;
  margin-bottom: 60px;
}

@media only screen and (max-width: 600px), screen and (max-width: 768px) {
  .typewriter {
    margin-top: 0px;
  }
  p {
    font-size: 1.2rem;
  }
  .main-tittle {
    font-size: 1.5rem;
    padding: 0;
  }
}

.btn-portafolio, .btn-limpiar {
  border-radius: 10px;
  border: 2px solid #dfac13;
  background-color: #212529;
  color: #efefef;
  font-weight: 900;
  font-family: 'Tahoma', sans-serif;
  letter-spacing: 1.5px;
  padding: 10px 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-portafolio:hover, .btn-limpiar:hover {
  background-color: #efefef;
  border-radius: 0px;
  border: 2px solid #efefef;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show_code {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  background-color: #dfac13;
  border-radius: 5px;
  border: 2px solid #dfac13;
  color: #efefef;
  font-family: 'Tahoma', sans-serif;
  font-weight: bold;
  padding: 10px 25px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #212529;
  border-radius: 0px;
  border: 2px solid #efefef;
  color: #efefef;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-download {
  margin-bottom: 10%;
}

.btn-green {
  background-color: #198754;
}

.btn-red {
  background-color: #c22d3c;
}

.btn-grey {
  background-color: #c0c0c0;
}

.form-padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
}

.form-padre .div-info {
  text-align: center;
}

.form-padre .div-info i {
  color: #dfac13;
  font-size: 10rem;
  margin-top: 20px;
}

.form-padre .div-formulario {
  text-align: center;
}

.form-padre .div-formulario textarea {
  resize: vertical;
  max-height: 120px;
}

.form-padre .div-formulario .form-input {
  background-color: #212529;
  border: 0;
  border-bottom: 1px solid #dfac13;
  color: #efefef;
  height: 30px;
  margin: 20px 0;
  width: 90%;
}

.form-padre .div-formulario .form-input:focus {
  outline: none;
}

.form-padre .div-formulario .form-input:valid {
  color: #dfac13;
}

.form-padre .div-formulario .form-input:invalid {
  color: red;
}

@media only screen and (max-width: 600px) {
  .form-padre .div-info i {
    color: #dfac13;
    font-size: 3rem;
    margin-top: 20px;
  }
}

.image-me {
  border: 5px solid #efefef;
  -webkit-box-shadow: 15px 15px 5px #000;
          box-shadow: 15px 15px 5px #000;
  max-width: 80%;
  margin: 5rem 0;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.image-me:hover {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.poke-img {
  width: 80%;
}

.img-fluid {
  width: 100%;
  margin: auto;
}

.logo-white {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .image-me {
    max-width: 80%;
  }
  .image-web-service {
    max-width: 100%;
    margin: 5rem 0;
  }
  .logo-white {
    width: 70px;
  }
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.container-hero .container-info {
  text-align: center;
  width: 450px;
}

.container-hero .container-info .social-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container-hero {
    top: 15%;
  }
}

.sobremi-div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.sobremi-div .descip-div {
  width: 50%;
}

.sobremi-div .image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .sobremi-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .sobremi-div .descip-div, .sobremi-div .image-div {
    margin: auto;
    width: 80%;
  }
}

.flex-knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-knowledge .knowledge-item img {
  width: 64px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.flex-knowledge .knowledge-item img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-filter: drop-shadow(0px 8px 2px #000);
          filter: drop-shadow(0px 8px 2px #000);
}

@media only screen and (max-width: 600px) {
  .flex-knowledge .knowledge-item img {
    width: 48px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfac13;
}

.up-div {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: -1;
}

.up-div .up-button {
  width: 0rem;
  height: 0rem;
  background-color: #dfac13;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.up-div i {
  position: absolute;
  font-size: 30px;
  color: #212529;
  text-decoration: none;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  scale: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .up-button {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 11;
}

.show i {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  scale: 1;
}

.container-trabajos {
  width: 100%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
  background-color: #161a1d;
}

.container-trabajos p {
  margin: 0 20%;
}

.container-trabajos a {
  color: #dfac13;
  text-decoration: none;
}

.trabajos-up, .trabajos-down {
  height: 150px;
  background-color: #161a1d;
}

.trabajos-up {
  margin-top: 150px;
}

.trabajos-up .trabajos-radius-up {
  height: 140px;
  background-color: #212529;
  border-radius: 0 0 50% 50%;
}

.trabajos-down {
  margin-bottom: 150px;
}

.trabajos-down .trabajos-radius-down {
  height: 150px;
  background-color: #212529;
  border-radius: 50% 50% 0 0;
}

@media only screen and (max-width: 600px) {
  .container-trabajos p {
    margin: 0 5px 10px 5px;
  }
}

.caja-gracias {
  text-align: center;
}

.caja-gracias .tittle-gracias {
  margin: 0;
}

.caja-gracias img {
  width: 50%;
  max-width: 300px;
}

.footer-absolute {
  position: absolute;
  bottom: 0;
}

.flexbox-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox-js .flexbox-container {
  text-align: center;
  width: 40%;
  margin-bottom: 100px;
}

.flexbox-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.flexbox-games .games-content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.flexbox-games .games-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.flexbox-games .games-app div iframe {
  width: 90%;
}

.flexbox-website {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 30px;
}

.flexbox-website a {
  color: #dfac13;
}

.flexbox-website .titulo {
  width: 70%;
}

.flexbox-website .paginas-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox-website .paginas-web .box-content {
  border: 1px solid #dfac13;
  -webkit-box-shadow: 15px 15px 15px #000;
          box-shadow: 15px 15px 15px #000;
  border-radius: 5px;
  width: 24%;
}

.flexbox-website .paginas-web .box-content .img-content {
  border-radius: 5px;
  height: 400px;
  overflow: scroll;
}

.flexbox-website .paginas-web .box-content .button-content {
  text-align: center;
  margin-bottom: 20px;
}

.show {
  display: none;
}

.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-code {
  text-align: left;
  display: none;
  height: 200px;
  overflow-y: scroll;
}

.js-app {
  background-color: #dfac13;
  border-radius: 50px 0 50px 0;
}

.counter-box {
  max-height: 200px;
}

.todo-box {
  height: auto;
}

.todo-box #txt-in {
  border: none;
  border-radius: 5px;
  height: 30px;
}

.todo-box #txt-in:focus {
  outline: 2px solid #c22d3c;
}

.todo-box .fa-trash-alt {
  cursor: pointer;
  float: right;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.todo-box .miLista .li-todo {
  background-color: #efefef;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  padding: 12px;
  list-style: none;
  text-align: left;
  width: 90%;
}

.todo-box .miLista .li-todo:hover {
  background-color: #c49711;
}

.todo-box .complete-list {
  text-decoration: line-through;
  background-color: #c49711;
}

.bg-red {
  background-color: #c22d3c;
}

.bg-green {
  background-color: #198754;
}

.pomodoro-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.pomodoro-box .tarea-pomodoro {
  background-color: #a82633;
  margin: 0 auto 0 auto;
  width: 80%;
}

.pomodoro-box .first-flex-pomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 0px auto;
  width: 80%;
}

.pomodoro-box .first-flex-pomodoro .fa-sync-alt {
  cursor: pointer;
}

.pomodoro-box .second-flex-pomodoro {
  margin-top: 20px;
}

.pomodoro-box .second-flex-pomodoro .input-text-pomodoro .inputTaskPom {
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  height: 32px;
}

.pomodoro-box .second-flex-pomodoro .input-text-pomodoro .inputTaskPom:focus {
  outline: 2px solid #c22d3c;
}

.pomodoro-box .second-flex-pomodoro .third-flex-pomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.frases-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frases-box .frases-b {
  margin-bottom: 30px;
}

.frases-box .frase-mot {
  font-style: italic;
  font-weight: bold;
}

.poke-box .poke-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poke-box .poke-fotos img {
  border-radius: 15px;
  -webkit-filter: drop-shadow(15px 10px 15px #000);
          filter: drop-shadow(15px 10px 15px #000);
  margin-bottom: 30px;
}

.poke-box .form-select {
  width: 150px;
  padding: 12px;
  border-radius: 5px;
  border: 0;
}

.poke-box .form-select:focus {
  outline: 0;
  border: 2px solid #c22d3c;
}

.poke-box .row-th {
  text-align: left;
}

.poke-box th {
  width: 50%;
  border: 1px solid #efefef;
  text-align: left;
  padding: 8px;
}

.poke-box td {
  width: 50%;
  border: 1px solid #efefef;
  text-align: center;
  padding: 8px;
}

.converter-box {
  height: auto;
  padding-bottom: 30px;
}

.converter-box .converter-content {
  margin-bottom: 30px;
}

.converter-box #text_area_conversor {
  width: 80%;
  resize: none;
}

.flexbox-container {
  padding: 0 10px;
}

.flexbox-container .rps__score {
  height: 30px;
}

.flexbox-container .rps__enemy {
  background-color: #efefef;
  border-radius: 15px;
  height: 100px;
}

.flexbox-container .rps__enemy #rps__enemy__id {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.flexbox-container .rps__result {
  height: 30px;
  margin-bottom: 30px;
}

.flexbox-container .rps__my-choice {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #efefef;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.flexbox-container .rps__my-choice div {
  border-radius: 50px;
  margin: 50px 0;
  height: 50px;
}

.flexbox-container .rps__my-choice div img {
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  width: 64px;
}

.flexbox-container .rps__my-choice div img:hover {
  -webkit-filter: drop-shadow(5px 2px 5px #000);
          filter: drop-shadow(5px 2px 5px #000);
}

.flexbox-container .rps__my-choice div .rps__image__on {
  width: 96px;
}

@media only screen and (max-width: 640px) {
  .flexbox-js .flexbox-container {
    margin-bottom: 30px;
    width: 100%;
  }
  .flexbox-js .counter-code {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flexbox-js .counter-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .flexbox-js .todo-code {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .flexbox-js .todo-box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .flexbox-js .pomodoro-code {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .flexbox-js .pomodoro-box {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .flexbox-js .frases-code {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .flexbox-js .frases-box {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .flexbox-js .poke-code {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .flexbox-js .poke-box {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .flexbox-js .converter-code {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .flexbox-js .converter-box {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .flexbox-js .rps-code {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
  .flexbox-js .rps-box {
    -webkit-box-ordinal-group: 15;
        -ms-flex-order: 14;
            order: 14;
  }
  .flexbox-website .titulo {
    width: 90%;
  }
  .flexbox-website .paginas-web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flexbox-website .paginas-web .box-content {
    width: 90%;
  }
  .flexbox-website .paginas-web .box-content .img-content {
    height: 200px;
  }
}

* {
  height: auto;
}

html, body {
  background-color: #212529;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
}

strong {
  color: #dfac13;
}

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: url("/img/XOsX.gif") 50% 50% no-repeat #dfac13;
}

.loading .txt-loading {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  color: #212529;
}

a {
  text-decoration: none;
  color: #dfac13;
}

hr {
  border-color: #dfac13;
  margin: 10% 0;
}

#hr_separation-sp {
  border-color: #dfac13;
}
/*# sourceMappingURL=styles.css.map */