// lista
.flex-knowledge{
  display: flex;
  flex-flow: row wrap;
  
  .knowledge-item img{
    width: 64px;

    &:hover{
      filter: grayscale(80%);
      transition: 1s;
    }
  }
}

@media only screen and (max-width: 600px) {
  .flex-knowledge{
    .knowledge-item img{
      width: 48px;
    }
  }
}
