/*FOOTER*/
.footer-basic {
  // position: absolute;
  // bottom: 0;
  width: 100%;
    padding: 40px 0;
    background-color: $dark-bg ;

    .copyright {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      color: $white-color;
      margin-bottom: 0;
    }
}