/*FOOTER*/
.footer-basic {
    padding: 40px 0;
    background-color: $dark-bg !important;

    .copyright {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      color: $white-color;
      margin-bottom: 0;
    }
}