.form-padre {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   gap: 30px;
   margin-bottom: 80px;

    .div-info{
    text-align: center;
        i{
            color: $yellow-color;
            font-size: 10rem;
            margin-top: 20px;
        }
    }
    .div-formulario{
        text-align: center;

        textarea{
           resize: vertical; 
           max-height: 120px;
        }
        .form-input{
            background-color: $dark-color;
            border: 0;   
            border-bottom: 1px solid $yellow-color;
            color: $white-color;
            height: 30px;
            margin: 20px 0;
            width: 90%;
        
            &:focus{
                outline: none;
            }
            &:valid{
                color: $yellow-color;
            }
            &:invalid{
                color: red;
            }
        }
    }
}

    
@media only screen and (max-width: 600px) {
    .form-padre {
         .div-info{
             i{
                 color: $yellow-color;
                 font-size: 3rem;
                 margin-top: 20px;
             }
         }
    }
}  

    