$yellow-color: #dfac13;
$white-color: #efefef;
$dark-color: #212529;
$dark-bg: #161a1d;
$dark: #000;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 6rem;
        height: 6rem;
    }
    100%{
        width: 4.2rem;
        height: 4.2rem;
    }
}