.caja-gracias{
    text-align: center;
    .tittle-gracias{
        margin: 0;
    }

    img{
        width: 50%; 
        max-width: 300px;
    }
}

.footer-absolute{
    position: absolute;
    bottom: 0;
}