.caja-gracias{
    text-align: center;

    .img-pato {
        width: 100%;
        height: auto;
        
        &img{
            width: 100%;
            height: auto;
            max-height: 200px;     
        }
             
    }
}

@media only screen and (max-width: 600px) {
    .caja-gracias{
        // .img-pato{
        //     width: 50%;
        // }
    }
}