.container-hero{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;

    .container-info{
        text-align: center;
        width: 450px;

        .social-hero{
            display: flex;
            justify-content: center;
        }
    }
}