/* Icons */
.social-hero {
  text-align: left;
  padding-bottom: 25px;
}
.social-footer {
  text-align: center;
  padding-bottom: 25px;
}
.social-footer  a, .social-hero a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $white-color;
  margin: 0 8px;
  color: $white-color;
  transition: all 1s;
}

.social-hero > a:hover, .social-footer  > a:hover {
  background-color: $yellow-color;
  border-color: $yellow-color;
  transform: rotate(360deg);
}

.fa-cog{
  font-size: 10rem;
  color: $yellow-color;
}
#spin1, #spin2{
  margin: 30px 0;
  animation-name: spin;
}
#spin1{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: .5s;
}

#spin2{
  position: relative;
  right: 20px;
  top: -8px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes spin {
  100%{transform: rotate(360deg);}
}

@media only screen and (max-width: 600px) {
  .fa-cog{
    font-size: 8rem;
  }
}