.image-me{
    border: 5px solid $white-color;
    box-shadow: 15px 15px 5px $dark;
    max-width: 80%;
    margin: 5rem 0;
    transform: rotate(4deg);
    transition: 1s;

    &:hover{
        transform: rotate(-4deg);
        transition: 1s;
    }
}

// *Image poke
.poke-img{
    width: 80%;
  }
  
  // *img website
  .img-fluid{
    width: 100%;
    margin: auto;
  }


// logo-white
.logo-white{
    // filter: drop-shadow(5px 5px 10px $dark);
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .image-me{
        max-width: 80%;
    }
    .image-web-service{
        max-width: 100%;
        margin: 5rem 0;
    }

    .logo-white{
        width: 70px;
    }
}