.image-hero{
    align-content: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-flow: row wrap;
    height: 350px;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    width: 350px;
}
.image-profile-tilt{
    transform: translateZ(20px);

    .image-profile {
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 50%;
    }
}

.img-trabajos {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.image-me{
    max-width: 80%;
    border: 5px solid $white-color;
    transform: rotate(4deg);
    margin: 5rem 0;

    box-shadow: 15px 15px 5px $dark;
}

.image-web-service{
    max-width: 75%;
    margin: 5rem 0;
    // filter: drop-shadow(5px 5px 10px $yellow-color);
}

.images-portfolio{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: space-around;

    div{
        height:400px;
        margin: auto;
        width: 25%;
        overflow-y: scroll;

        img{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .image-me{
        max-width: 80%;
    }
    .image-web-service{
        max-width: 100%;
        margin: 5rem 0;
    }

    .images-portfolio{
        width: 95%;
        margin: auto;
        gap: 60px;
        div{
            width: 100%;
            height: 200px;
        }
    }
}