#sec-04{
    width: 100%;
    margin: 0 auto;
    background-image: url(/img/circle-scatter-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-servicio{
    background-color: rgba(33, 37, 41, 0.5);
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    div{
        margin: 0 auto;
        width: 45%;
    }
    .content-service p{
        margin: 0 50px;
    }

    .btn-download{
        margin-bottom: 100px;
    }
    
}

@media only screen and (max-width: 600px) {
    .container-servicio{
        flex-flow: column wrap;
        background-size: auto;
        div{
            width: 100%;
        }

        .btn-download{
            padding: 0;
            background-color: none;
            border-radius: 0px;
            box-shadow: none;
        }
    }

}