.container-sobremi{
    display: inline-block;
    text-align: center;
    border-bottom-right-radius: 50%;
    background-color: $dark-color;

    .descrip-me{
        margin: 0 25%;
    }
}
@media only screen and (max-width: 600px) {
    .container-sobremi{
        border-bottom-right-radius: 30%;

        .descrip-me{
            margin: 0;
        }
    } 
}