.sobremi-div{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    
    .descip-div{
        width: 50%;
    }

    .image-div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .sobremi-div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;

        .descip-div, .image-div{
            width: 100%;
        }
    } 
    
}