h1 {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    color: $white-color;
    letter-spacing: 2px;
    margin-top: 100px;
    margin-bottom:  30px;
    text-align: center;
}
.typewriter{
    margin-top: 30px;
}

h3 {
    font-size: .9rem;
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
h2{
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: $white-color;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}
.titulo {
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}
