.typewriter{
    color: $white-color;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-bottom:  10px;
    text-align: center;
}
h1{
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: $white-color;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-bottom:  10px;
    text-align: center;
}

p {
    color: $white-color;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}
.titulo {
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}

@media only screen and (max-width: 600px), screen and (max-width: 768px) {
    .typewriter{
        margin-top: 0px;
    }
    p{
        font-size: 1.2rem;
    }
}