h1 {
    font-family: 'Anton', sans-serif;
    color: $white-color;
    margin-bottom:  10px !important;
}
h3 {
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: $white-color;
}
.titulo {
    margin-bottom: 20px;
}
.navbar-brand {
    color: $white-color !important;
}