.typewriter{
    color: $white-color;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-bottom:  10px;
    text-align: center;
}
h1{
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: $white-color;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
h3{
    color: $dark;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

h4{
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}
h5{
    color: $white-color;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
}

p {
    color: $white-color;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}
.titulo {
    margin-bottom: 20px;
}
.main-tittle{
    font-size: 1.5rem;
    margin-bottom:  60px;
}

@media only screen and (max-width: 600px), screen and (max-width: 768px) {
    .typewriter{
        margin-top: 0px;
    }
    p{
        font-size: 1.2rem;
    }
    .main-tittle{
        font-size: 1.5rem;
        padding: 0;
    }
}